#name2{
    width: 25%;
    margin-left: 10px;
    margin-right: 10px;
}


h3{
    margin-left: 10px;
    padding: 5px;
    font-weight: 800;
}



#rim{
    display: flex;
    align-items: center;
}


#lol2{
   margin-inline: 20px

};


#zum{
background-color:  #2970FF;;
}
